<%- include('../partials/pcHeaderControl.ejs') %>
<div class="my-card">
    <label for="" class="label">title</label>
    <input type="text" value="<%=(fb&&fb.title)?fb?.title:''%>" name="title" class="form-control">
    <label for="" class="label">Video (link)</label>
    <input type="text" name="vid_url" value="<%=(fb&&fb.title)?fb?.video_url:''%>"  class="form-control">
    <button class="btn btn-outline-primary mt-3" id="btn-fb-submit">Save config</button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        document.getElementById('btn-fb-submit').addEventListener('click',()=>{
            const data ={
                title: document.querySelector('input[name="title"]').value,
                vid_url: document.querySelector('input[name="vid_url"]').value
            }
            $.ajax({
                url: "/admin/page-config/feedback",
                method: "POST",
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: (res)=>{
                    if(res.success){
                        MyNotification('Success', 'success');
                    }
                },
                error: (xhr, status, err)=>{
                    console.log(xhr.responseJSON.mess);
                    MyNotification('Sever error', 'error')
                }
            })
        })
    })
</script>
