<style>
    

</style>
<section class="cta contact">
  <div class="cta-content">
    <h2><%=ps.contact.title%></h2>
    <p><%=ps.contact.desc%></p>
    <a href="#!" class="cta-btn">TƯ VẤN NGAY →</a>
  </div>
</section>
