
<section class="feedback">
    <div class="main-content">
        <h2><%-(pc&&pc.feedback)?pc?.feedback?.title:''%></h2>
        <!--  -->
        <!-- new -->
        <!-- new -->
        <!-- video -->
        <div class="video-container">
            <div class="video-wrapper">
                <div class="video-inner">
                    <video
                        id="myVideo2"
                        src="/vids/<%=(pc&&pc.feedback.video_url)?pc?.feedback?.video_url:''%>"
                        class="video-element"
                        controls
                        playsinline
                        poster="/img/pre-video2.png"
                    ></video>

                    <!-- Nút Play pulse overlay -->
                    <div id="playOverlay2" class="play-overlay">
                        <div class="play-button">
                            <img src="/img/icon-play.png" style="width: 48px; height: 48px; object-fit: cover" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end video -->
        <!--  -->

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <%if(pc.feedback&&pc.feedback.cards.length>0){%>
                  <%pc.feedback.cards.forEach(c=>{%>
                    <div class="swiper-slide">
                    <img src="<%=c%>" alt="Feedback 10" />
                </div>
                  <%})%>
                <%}%>
                
            </div>

            <!-- Nút điều hướng -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Dots -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<script>
    const video2 = document.getElementById('myVideo2');
    const overlay2 = document.getElementById('playOverlay2');

    overlay2.addEventListener('click', () => {
        video2.play();
        overlay2.style.display = 'none';
    });
</script>
<script>
    var swiper = new Swiper('.mySwiper', {
        slidesPerView: 2, // số ảnh / view
        spaceBetween: 20, // khoảng cách giữa ảnh
        loop: true, // chạy vòng lặp
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            // màn hình nhỏ hơn 640px (mobile) → 1 item
            0: {
                slidesPerView: 1,
                spaceBetween: 10,
            },
            // màn hình >= 640px (tablet) → 2 item
            640: {
                slidesPerView: 2,
                spaceBetween: 15,
            },
            // màn hình >= 1024px (desktop) → 4 item
            1024: {
                slidesPerView: 4,
                spaceBetween: 20,
            },
        },
    });
</script>
