<footer class="footer-info">
  <div class="main-content">
    <div class="footer-top">
    <div class="footer-title"><%=pc?.pageinfo?.footer_title%></div>
    <a
  href="https://zalo.me/<%=pc?.pageinfo?.phone%>"
  target="_blank"
  class="btn-consult"
>
  Tư vấn ngay →<i class="fa-solid fa-arrow-right"></i>
</a>
  </div>

  <hr />

  <div class="footer-bottom">
    <div class="footer-left">
      <p class="info-item">
        <span class="material-symbols-outlined">location_on</span>
        <span><%=(pc&&pc.pageinfo.address)?pc.pageinfo?.address:'Tòa nhà F Central, số 16A Lê Hồng Phong, Phường 12, Quận 10, Hồ Chí Minh'%></span>
      </p>
      <p class="info-item">
        <span class="material-symbols-outlined">mail</span>
        <span><%=(pc&&pc.pageinfo.email)?pc.pageinfo?.email:'test@gmail.com'%></span>
      </p>
    </div>

    <div class="footer-right">
      <img src="/img/logo.png" alt="ToppiLife Logo" class="logo-small" />
      <p class="coppyright">© 2025 ToppiLife.</p>
    </div>
  </div>
  </div>
</footer> 


