<footer class="footer">
  <div class="main-content">
    <!-- top -->
    <div class="footer-top">
      <div class="col-left">
        <div class="footer-title">Nạp lại năng lượng sống!</div>
      </div>
      <div class="col-right">
        <a class="btn btn-footer-cta" href="#!">Tư Vấn Ngay →</a>
      </div>
    </div>

    <div class="custom-line"></div>

    <!-- info -->
    <div class="footer-info">
      <div class="fi_body">
        <div class="col-left">
          <p class="info-item">
            <span class="material-symbols-outlined">location_on</span>
            <span>
              Tòa nhà F Central, số 16A Lê Hồng Phong, Phường 12, Quận 10, Hồ Chí Minh
            </span>
          </p>
        </div>
        <div class="col-right">
          <img src="/img/logo.png" loading="lazy" class="logo" alt="Topilife Logo" />
        </div>
      </div>

      <div class="fi_body">
        <div class="col-left">
          <p class="info-item">
            <span class="material-symbols-outlined">mail</span>
            <span>email@gmail.com</span>
          </p>
        </div>
        <div class="col-right">
          <p class="coppyright">© 2025 Topilife.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
