<style>
   
</style>
<!-- section introduce -->
    <section id="introduce" class="introduce">
      <div class="bg-img">
        <img loading="lazy" src="/img/introduce.png" alt="Giới thiệu" />
      </div>

      <div class="main-content">
        <div class="intro-text">
          <h2><%=ps.introduce.title%></h2>
          <p class="desc">
            <%=ps.introduce.desc%>
          </p>
        </div>
      </div>
    </section>