<style>
   
</style>
<!-- section introduce -->
    <section id="introduce" class="introduce">
      <div class="bg-img">
        <img loading="lazy" src="<%=(pc&&pc.introduce)?('/uploads/'+pc?.introduce?.img):'/img/introduce.png'%>" alt="Giới thiệu" />
      </div>

      <div class="main-content">
        <div class="intro-text">
          <h2><%-(pc&&pc.introduce)?pc?.introduce?.title:''%></h2>
          <div class="desc">
            <%-(pc&&pc.introduce)?pc?.introduce?.desc:''%>
          </div>
        </div>
      </div>
    </section>